# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Show EMP Doc'
      'command': 'emp-doc:show-doc'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'emp-doc'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'emp-doc:show-doc'
        }
      ]
    ]
  }
  {
    'label': 'Emp'
    'submenu': [
        {
          'label': 'Help'
          'submenu':[
              {'label': 'EMP Doc',
              'submenu': [
                  {'label': 'Info Center',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-doc'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-doc-brw'
                      }
                  ]
                  }

                  {'label': 'Inner Docs',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-inner'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-inner-brw'
                      }
                  ]
                  }

                  {'label': 'Get Start',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-started'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-started-brw'
                      }
                  ]
                  }

                  {'label': 'Ert Develop',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-ert'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-ert-brw'
                      }
                  ]
                  }

                  {'label': 'Ewp Lib Example',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-ewp'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-ewp-brw'
                      }
                  ]
                  }

                  {'label': 'Frontend Dev Guide',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-frontend'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-frontend-brw'
                      }
                  ]
                  }

                  {'label': 'Software Specification',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-software'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-software-brw'
                      }
                  ]
                  }

                  {'label': 'Xhtml Example',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-xhtml'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-xhtml-brw'
                      }
                  ]
                  }

                  {'label': 'Backend Dev',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-backend'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-backend-brw'
                      }
                  ]
                  }

                  {'label': 'Compatinle Book',
                  'submenu': [
                      {
                        'label': 'Show in Atom'
                        'command': 'emp-doc:show-compatible'
                      }
                      {
                        'label': 'Show in Browser'
                        'command': 'emp-doc:show-compatible-brw'
                      }
                  ]
                  }

              ]

              }
          ]
        }

    ]
  }
]
